@page "/Setup"
@using RobotHMI.Data
@using global::Shared.Data
@inject RobotClientService RobotCLI

<div class="container-fullwidth">


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab-1">Motors</a>
        </li>
    </ul>
    <div class="tab-content mb-3">
        <div class="tab-pane active" id="tab-1">
            <div class="container-fullwidth">
                <form>
                    <div class="container-fluid table">
                        <PresetHeader></PresetHeader>
                        @foreach (var preset in RobotCLI.Presets.Values.Where(x => x.Topic == "ManualControlService").OrderBy(x => x.Name)) 
                        {
                            <PresetRow Preset="@preset"></PresetRow>
                        }
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
<div class="container">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary " @onclick="save">Save</button>
        <button type="button" class="btn btn-secondary " @onclick="cancel">Cancel</button>
    </div>
</div>

@code {
    // inject jsruntime to call javascript code
    [Inject] public IJSRuntime JSRuntime { get; set; }

    // hold the callback selected value
    public string SelectedValue { get; set; }

    protected override void OnInitialized()
    {
        RobotCLI.OnPresetChange += ApplyChanges;
    }

    public void Dispose()
    {
        RobotCLI.OnPresetChange -= ApplyChanges;
    }


    // call the javascript method to init the select picker
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) // only needs to be called once per page render
        {

            await JSRuntime.InvokeVoidAsync("InitSelectPicker", DotNetObjectReference.Create(this), "OnSelectedValue", ".selectpicker");

        }
    }

//    public Preset[] Presets { get; set; }

    // method which will be triggered by javascript, need to pass the method name
    [JSInvokable]
    public void OnSelectedValue(string val)
    {
        SelectedValue = val;
        StateHasChanged();
    }


    async Task save()
    {
        await RobotCLI.SavePresets();
        ApplyChanges();
    }

    void cancel()
    {
       RobotCLI.CancelPresets();
    }

    private void ApplyChanges()
    {
        InvokeAsync(() => StateHasChanged());
    }


}
