<div class="row d-none d-md-flex table-header">
    @*<div class="col-md-3 table-cell">Name</div>*@
    <div class="col-md-4 table-cell">Description</div>
    <div class="col-md-2 table-cell">Uom</div>
    <div class="col-md-5 table-cell">Value</div>
    <div class="col-md-1 table-cell"></div>
</div>
@code {

}
